body{
    background: #999999;
    font-family: 'Roboto Condensed', sans-serif;
}

.adminPanel, .createUser{
    width: 60%;
    margin: 50px 20%;
    background: #ffffff;
    padding: 15px;
}

.adminPanel h2, .createUser h2{
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #fff;
    background: #00cc33;
}

.greetings{
    text-align: center;
    font-size: 150%;
}

.last-time-login, .greetings{
    padding: 10px;
}

.navigation{
    padding: 10px;
}

.navigation a{
    padding: 10px;
    background: #1968b3;
    color: #fff;
    text-decoration: none;
}

.createForm{
    margin: 20px 0 0 0;
    overflow: auto;
}

.createForm label{
    display: inline-block;
    width: 25%;
    text-align: right;
    padding: 5px 10px;
    margin: 5px 0;
}

.createForm input[type=text], .createForm input[type=password], .createForm select{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    padding: 5px;
    border: 0px;
    width: 50%;
    border: 1px solid #d1d1d1;
}

.createForm input[type=submit]{
    border: 0px;
    padding: 10px;
    background: #1968b3;
    color: #fff;
    float: right;
    cursor: pointer;
}
.errorMsg{
    color: red;
    text-align: center;
}

.successMsg{
    color: #00b637;
    text-align: center;   
}